html{
  background-color: #fefefe;
}

body{
  color: #454545;
  font-size: 16px;
  line-height: 1.4;
  text-align: justify;
  margin: 2em auto;
  max-width: 800px;
  padding: 1em;
  font-style: Open Sans, Arial;
}

.mfw{
  color: #16a085;
}

.wrong{
    color: #c0392b;
    font-weight: 600;
    text-decoration: underline;
}

#shitty_blue{
  color: #00e;
  cursor: not-allowed;
}

#violetish{
  color: #551a8b;
  cursor: not-allowed;
}

.a{
  color: #07a;
}

ul li img{
  height: 1em;
}

.foufou{
  color: #444;
  font-weight: 700;
}

.fifou{
  color: #454545;
  font-weight: 700;
}

.caption{
  font-size: .7em;
}

.fancypositionning .pictureleft{
  float: left;
  width: 40%;
  overflow: hidden;
  margin-right: 1em;
}

.fancypositionning::after{
  display: block;
  content: "";
  clear: both;
}

.chat{
  width: 100%;
}

a.kopimi{
  display: block;
  align-items: center;
}

a.kopimi img.kopimi{
  height: 2em;
}
